<nav class="navbar navbar-expand-lg fixed-top navbar-light">
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span>MENU</span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-auto">
      <%= link_to "HOME", root_path, class: "nav-item nav-link" %>
      <%= link_to "MEDIA", media_path, class: "nav-item nav-link" %>
      <%= link_to "ABOUT", about_path, class: "nav-item nav-link" %>
      <%= link_to "UPCOMING SHOWS", upcoming_shows_path, class: "nav-item nav-link" %>
      <%= link_to "CONTACT", contact_path, class: "nav-item nav-link" %>
    </div>
  </div>
</nav>